<form [formGroup]="myForm" (ngSubmit)="formSubmit(myForm.value)">
  <div>
    <label class="capital" for="title">Title</label>
    <input placeholder="Title" type="text" id="title" formControlName="title" />
  </div>
  <div>
    <label class="capital" for="details">details</label>
    <input
      placeholder="Details"
      type="text"
      id="details"
      formControlName="details"
    />
  </div>
  <div>
    <label class="capital" for="priority">priority</label>
    <select id="priority" name="priority" formControlName="priority">
      <option value="">--Please choose an option--</option>
      <option *ngFor="let data of priority" [value]="data">{{ data }}</option>
    </select>
  </div>
  <div>
    <label class="capital" for="time">time</label>
    <input
      type="datetime-local"
      id="time"
      formControlName="time"
      [placeholder]="dateObj | date: 'short'"
    />
  </div>
  <input
    [ngClass]="myForm.valid ? 'submit' : 'b_invalid'"
    [disabled]="myForm.invalid"
    type="submit"
    value="Submit"
  />
</form>
